<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="form.css">
    </head>

    <body>
        <main>
            <h2>商品追加</h2>

            <form action="#" method="POST">
                <div class="form-group">
                    <label for="">商品名</label>
                    <input type="text" name="name">
                </div>

                <div class="form-group">
                    <label for="">価格</label>
                    <input type="bumber" name="price">
                </div>

                <div>
                    <label for="">公開</label>
                    <input type="number" name="amount">
                </div>

                <div>
                    <label for="">バーコード番号</label>
                    <input type="barcord">
                </div>

                <div class="form-group btn">
                    <input type="submit" value="登録">
                </div>

            </form>
        </main>
    </body>
</html>