body {
    margin: o;
    background-color: rgb(248,238,238);
    padding: 8px;
}

ul {
    list-style:none;
    padding: 0;
}

header p {
    text-align: center;
    margin: 0;
    margin-bottom: 3px;
}